/* css reset */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  /* body-style */
  body {
    box-sizing: border-box; 
    position: relative;
    overflow-x: hidden;
  }
  /* navbar-styling */
  .nav-bar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36.5px;
    padding-bottom: 38px;
    box-shadow: 20px 8px 45px 0px rgba(red, green, blue, alpha);
    border: 2px solid #E5E5E5;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
 }
  /*links */
  .links {
    display: flex;
    align-items: center; 
    font: 25px;
  }
  /* nav-list */
  .list {
    display: flex;
    align-items: center;
    list-style: none; 
  }
  /* nav-links */
  .nav-links {
    font-weight: 600;
    line-height: 19.5px;
    font-size: 23px;
    color: black;
    margin-right: 29px; 
  }
  
  .link {
    color: black;
    text-decoration: none;
   }
   /* profile-cart */
  .profile-cart {
    display: flex;
    align-items: center;
   }
    .logo {
        margin-left: 21px; 
      }
/* Her0-section */
      .Hero-section{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-top: 198px;
        padding-bottom: 75px;
        width: 1440px;
      }
      .bar1_2{
        width: 100%;
        justify-content: space-between;
        padding-top: 77px;
        padding-bottom: 75px;
        padding-left: 15%;
        width: 1440px;
      }
      .sign{
        padding:15px 30px;
        border:2px solid #0D60D8;
        margin-top: 20px;
        border-top-left-radius:10px;
          border-top-right-radius:10px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;  
          text-decoration: none;
          color: #0D60D8;
       }
/* button-style */
      button, .button{
        padding:15px 15px;
        margin-top: 20px;
        border-top-left-radius:10px;
          border-top-right-radius:10px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        border-style: hidden;
        background-color: #0D60D8;
        
    }
    button a, .button {
        text-decoration: none;
        color:white;
        font-size: 20px;
        
    }
    button:hover {
        color:black;
        background-color: black;
    }
        .buttoncombined{
          padding-top: 30px;
          
        }
        .section-1{
          background-color: #CFDFF766;
          text-align: center;
          padding-bottom: 30px;
        }
/*   first-section */
        .content{
          line-height: 1.5;
          padding-top: 20px;
          padding-bottom: 20px;
        }
         h2{
          color: #06306C;
          font-size: 30px;
          line-height: 1.5;
        } 
        h4{
          font-size: 20px;
        }
/* second-section */
        .section-2{
          display: flex;
          width: 100%;
          justify-content: space-between;
          padding-top: 77px;
          padding-bottom: 75px;
          width: 1440px;
      }
      .section-right{
          padding-left: 50px;
      }
    
      p{
        font-size: 20px;
        line-height: 1.3;
      }
    
      .section-right{
        display: flex;
        width: 50%;
        
      }
      .Auto-save, .My-target, .Safe-Lock-Funds, .Easy-Savings{
        width:80%;
        padding:15px 10px;
        margin-top: 20px;
        border-top-left-radius:10px;
          border-top-right-radius:10px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        border-style: hidden;
        background-color: #F8F8F8;
       padding: 20px 20px 60px 15px; 
       
          box-shadow: -5px 10px #CFDFF7;
        
      }
      .save-image, .target-image, .safe-image{
        display: flex;
        column-gap: 10px;

      }
      .together{
        display: grid;
          width: 100%;   
         justify-content: space-between;
        
      }
      h3{
        font-size: 25px;
        color: #06306C;
      }

     
        .section-left{
            padding-top: 80px;
            padding-left: 100px;  
            font-size: 15px;
        }

      .section-image{ 
width: 500px;

      }

   .section-3{
    display: flex;
    width: 100%;
    justify-content: space-between;
     padding-right: 197px;
    padding-left: 100px; 
    padding-top: 77px;
    padding-bottom: 75px;
}
.text{
    max-width: 468px;
    margin-top: 17px;
    max-width: 468px;
    font-weight: 400;
    line-height: 29.52px;
    font-size: 16px;
    margin-bottom: 37px;
   
}
    
.section-3{
  background-color: rgba(207, 223, 247, 0.2);
  width: auto;
 } 